html, body {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}

h1, h2 {
  text-transform: uppercase;
}

main {
  min-width: 100%;
  display: flex;
}

.web {
  display: none;
}

#skill-list ul {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-heading {
  margin-top: 1em;
}

@media screen and (min-width: 800px) {
  main {
    max-width: 70vw;
    min-width: 800px;
    /*box-shadow: 0 0 2.5em #777;*/
  }


  #skill-list ul li {
    display: list-item;
  }

/*  .web {
    display: block;
  }*/

  .mobile {
    display: none;
  }
}

/*@media screen and (max-width: 300px) {

}*/